.container {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url('../../../../public/ground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: calc(var(--index) * -4.5);
  }
}
.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 2;
  will-change: transform;
}
.layerBase {
  background-image: url('../../../../public/layer-base.png');
  z-index: 0;
}
.layerMiddle {
  background-image: url('../../../../public/layer-middle.png');
}
.layerFront {
  background-image: url('../../../../public/layer-front.png');
}
.header {
  z-index: 1;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--main-text-color);
  text-shadow: 0 0 15px #9e7d35;
}

.title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}
.caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  margin-top: calc(var(--index) * -0.75);
}
